<?xml version="1.0"?>
<robot name="simple_table">
  <!-- 桌面 -->
  <link name="table_top">
    <visual name="table_top_vis">
      <origin xyz="0 0 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.8 0.05"/>
      </geometry>
      <material name="table_material">
        <color rgba="0.7 0.5 0.3 1.0"/>
      </material>
    </visual>
    <collision name="table_top_col">
      <origin xyz="0 0 0.725" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.8 0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- 四条桌腿 -->
  <!-- leg_1 -->
  <link name="leg_1">
    <visual name="leg_1_vis">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
      <material name="table_material"/>
    </visual>
    <collision name="leg_1_col">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_1" type="fixed">
    <parent link="table_top"/>
    <child link="leg_1"/>
    <origin xyz="0.575 0.375 0" rpy="0 0 0"/>
  </joint>

  <!-- leg_2 -->
  <link name="leg_2">
    <visual name="leg_2_vis">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
      <material name="table_material"/>
    </visual>
    <collision name="leg_2_col">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_2" type="fixed">
    <parent link="table_top"/>
    <child link="leg_2"/>
    <origin xyz="-0.575 0.375 0" rpy="0 0 0"/>
  </joint>

  <!-- leg_3 -->
  <link name="leg_3">
    <visual name="leg_3_vis">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
      <material name="table_material"/>
    </visual>
    <collision name="leg_3_col">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_3" type="fixed">
    <parent link="table_top"/>
    <child link="leg_3"/>
    <origin xyz="-0.575 -0.375 0" rpy="0 0 0"/>
  </joint>

  <!-- leg_4 -->
  <link name="leg_4">
    <visual name="leg_4_vis">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
      <material name="table_material"/>
    </visual>
    <collision name="leg_4_col">
      <origin xyz="0 0 0.325" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.65"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_leg_4" type="fixed">
    <parent link="table_top"/>
    <child link="leg_4"/>
    <origin xyz="0.575 -0.375 0" rpy="0 0 0"/>
  </joint>
</robot>
